#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
}

#level {
  
}

#interactiveImage {
  margin: 0 10%;
}

.loginArea {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: grey;
}

.loginButton{
  margin-left: 10%;
}
